@charset "UTF-8";
.content{
	height: fit-content;
	min-height: 75vh;
}
.list_content {
            width: 100%;
            border-collapse: collapse;
        }
        .list_content th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        .list_content th {
            background-color: #f2f2f2;
        }
        
.layout-table {
	margin-top: 4rem;
    width: 100%;
    height: 85vh;
    border-collapse: collapse;
}

.layout-table td {
    vertical-align: top;
    padding: 10px;
}

.sidebar {
    width: 25%;
    background: #f4f4f4;
    color: black;
}