@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
	font-family: 'Arial', sans-serif;
}

.content {
    background: linear-gradient(135deg, #311B92, #6D1B7B, #8E0E00);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: linear-gradient(135deg, #9C27B0, #E91E63, #F44336);
    color: white;
    border-radius: 25px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.5);
    padding: 35px;
    align-items: center;
    width: 420px;
    transition: transform 0.4s, box-shadow 0.4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #FF80AB;
    object-fit: cover;
    object-position: center;
    margin: 15px 0;
}


h1 {
    font-size: 32px;
    margin: 15px 0;
    color: #FFEBEE;
    font-weight: bold;
    text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
}

p {
    font-size: 19px;
    color: #FFC1E3;
    font-weight: 500;
}

p strong {
    color: #FFCDD2;
}

.social-icons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #FFEBEE;
    font-size: 32px;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.4);
}

.social-icons a:hover {
    color: #FFFFFF;
    transform: scale(1.3) rotate(8deg);
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.6);
}