@charset "UTF-8";
body{
	margin:0;
	padding:0;
}

.navbar {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    margin-bottom: 5rem;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #e1593f;
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav .nav-item .nav-link.active {
    color: #fff;
    font-weight: bold;
    background-color: #e1593f !important;
    border-radius: 5px;
}

.navbar-nav .nav-item .nav-link.active:hover {
    color: #fff ;
    background-color: #e1593f;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .social-icon {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer .social-icon:hover {
    color: #FFD700;
}

