@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #311B92, #6D1B7B, #8E0E00);
    color: white;
}

.layout-table {
	margin-top: 4rem;
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

.layout-table td {
    vertical-align: top;
    padding: 10px;
}

.sidebar {
    width: 25%;
    background: #f4f4f4;
    color: black;
}

.content {
    width: 75%;
    padding: 20px;
}

h1, h2 {
    font-weight: bold;
}

ul li {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .layout-table, .layout-table tr, .layout-table td {
        display: block;
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .content {
        width: 100%;
    }
}
